*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
ul,li{list-style: none;}

.window{
    width: 400px;
    height: 300px;
    margin: 50px auto;
    overflow: hidden;
}
.window > .images{
    display: flex;
    position: relative;
}
.images img{
    transition: all 0.5s;
    position: absolute;
    top: 0;
}
/* 当前区域 */
.images img.current{  
    left: 0;
    transform: translateY(0);
    z-index: 1;
    opacity: 1;
}
/* 移动 */
.images img.leave{
    transform: translateY(-100%);
    z-index: 1;
    opacity: 0.3;
}
/* enter 区域 */
.images img.enter{
    transform: translateY(100%);
}
