*{margin: 0;padding: 0;}
*{box-sizing: border-box;}
ul,li{list-style: none;}

.window{
    width: 400px;
    height: 300px;
    margin: 50px auto;
    overflow: hidden;
}
.window > .images{
    display: flex;
    position: relative;
}
.images img{
    transition: all 0.5s;
}
.images img:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
}
.images img:nth-child(1).right{
    position: absolute;
    top: 0;
    left: 100%;
}
.images img:nth-child(2){
    position: absolute;
    top: 0;
    left: 100%;
}
.images img:nth-child(3){
    position: absolute;
    top: 0;
    left: 100%;
}