.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

.hidden {
    display: none;
}

canvas {
    background: #eee;
}

.actions {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(223, 194, 224, 0.2);
    padding: 10px 5px;
    text-align: center;
}

.actions>svg {
    margin-left: 10px;
    transition: all 0.3s;
}

svg.active {
    font-size: 30px;
    color: red;
}

li.active {
    transform: scale(1.3)
}

ol {
    position: fixed;
    left: 15px;
    top: 100px;
}

ol>li {
    width: 20px;
    height: 20px;
    margin: 15px 0;
    border-radius: 50%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    transition: all 0.3s;
}